<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi dear <%= @issue.reporter_name %></h1>
<p>
  <b>You reported issue '<%= @issue.subject %>'</b><br>
  link to issue: <%= link_to @issue.uu_id, show_by_uu_id_client_issues_url(uu_id: @issue.uu_id) %>.
  <br>
  <br>
  <i>"<%= @issue.description %>"</i>
</p>
</body>
</html>